doctype html
html
  head
    title #{ title }
    |     
    link(rel='stylesheet', href='/stylesheets/style.css')
  |   
  body
    User account: #{account}
    br
    User password: #{password}
    br
    User email: #{email}
    br
    User create time: #{create_time}
    br
    User update time: #{update_time}

