doctype html
html
  head
    title #{ title }
    |     
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    form(action='http://127.0.0.1:8080/users/viewdata', method='get')
      input(type='submit', value='View Data')
    form(action='http://127.0.0.1:8080/logout', method='get')
      input(type='submit', value='Logout')
    
    p User account: #{account}
    p User email: #{email}
    p User create time: #{create_time}
    p User update time: #{update_time} 

